mixin bmLink(items=[], options={})
    .bm-link-container(
        id=options.id
        class=options.class
    )
        each item in items
            a.bm-link-text(id=item.id)
                =item.text