mixin bmSelect(args={})
    select.bm-select(id=args.id class=args.class)
        option(selected disabled hidden)
            =args.default
        each item in args.items
            option.bm-select-option(value=item.value)
                =item.text
    