mixin bmTextField(args={})
    .bm-textfield-container(class=args.class)
        label.bm-textfield-label(for=args.id)
            =args.label
        input.bm-textfield-input(id=args.id required=args.required type='text')
