@import url(reset.css);

.wrapper {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  width: 700px;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid black;
}

.bm-logo-ceo {
  width: 60%;
}

.bm-link-container {
  background-color: greenyellow;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bm-link-text {
  padding: 0.2em;
  color: gray;
}

.bm-checkbox-container {
}

.bm-button {
  color: white;
  background-color: #1a7dfe;
  font-size: 30px;
  font-weight: 550;
  padding: 30px 0;
  border: 0;
  user-select: none;
}

.bm-button:focus {
  outline: 0;
}

.bm-button:hover {
  background-color: #428cee;
}

.bm-button:active {
  background-color: #6ba1e7;
}

.main-title {
  font-size: 32px;
  margin-bottom: 22px;
}

.user-control-container {
  display: flex;
  justify-content: flex-end;
  color: #909090;
  margin-top: 10px;
  font-size: 22px;
  user-select: none;
}

.user-control-divider {
  margin: 0 10px;
  color: #b0b0b0;
  cursor: default;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 400px;
    font-size: 13px;
  }
}
