@import url(reset.css);

* {
  box-sizing: border-box;
}

main,
section,
header,
footer,
aside {
  display: block;
}

body {
  padding: 4.2rem;
  background: #f0f0f0;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
}

.wrapper main {
  display: flex;
  width: 500px;
  margin: auto;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  background: #fff;
  color: #333;
}

/* components */

.bm-logo {
  width: 90%;
  margin: 0 auto 60px auto;
}

.bm-button {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: white;
  background-color: #1a7dfe;
  font-size: 24px;
  font-weight: 550;
  text-align: center;
  padding: 16px 0;
  border: 0;
  user-select: none;
  border-radius: 15px;
}

.bm-button:link,
.bm-button:visited,
.bm-button:hover,
.bm-button:active {
  text-decoration: none;
}

.bm-button:focus {
  outline: 0;
}

.bm-button:hover {
  background-color: #428cee;
}

.bm-button:active {
  background-color: #6ba1e7;
}

.bm-textfield {
  width: 100%;
  border: 1px solid #cdcdcd;
  padding: 14px 6px;
  margin: 4px 0;
  font-size: 16px;
  border-radius: 2px;
  transition: box-shadow 0.24s ease-out;
}

.bm-textfield:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #1a7dfe;
}

/* main */

.main__signin {
  width: 100%;
  text-align: center;
}

.main__signin .message {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main__signin .error-message {
  color: #ff5050;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

.main__signin .sub-area {
  margin: 14px 0 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.main__signin .sub-area .link:link,
.main__signin .sub-area .link:visited {
  color: #888;
  text-decoration: none;
}

.main__signin .sub-area .link:hover,
.main__signin .sub-area .link:active {
  text-decoration: underline;
}

.main__signin .sub-area .link-divider {
  margin: 0 13px 0 11px;
  color: #d4d4d4;
}

.main__signin .sub-area__saveid input[type='checkbox'] {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #cdcdcd;
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 0;
  vertical-align: middle;
}

.main__signin .sub-area__saveid label {
  font-size: 14px;
}
