doctype
html(lang='ko')
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        title= title
        block scripts
    body
        .wrapper
            block content
        block footer