extends layout
include ../components/bmButton
include ../components/bmLogoCeo
include ../components/bmTextField
include ../components/bmLink
include ../components/bmCheckBox
include ../components/bmSelect

block content
    h1 display
    h2 flex
    +bmSelect({id:'mySelect',class:'myClass',default:'암거나 고르세요',items:[{text:'우아한',value:'배민'},{text:'ㅋㅋㅋ',value:'zzz'}]})
